{% load static %}
{% load humanize %}

  <div>
    {% include 'core/header-administracion.html' %}      
  </div>

  <script type="text/javascript">

    $(document).ready(function() {

      var idProducto

      /* Marcamos como no activos el resto de los menús */
      $("#menu-2").removeClass("active");
      $("#menu-3").removeClass("active");

      /* Marcamos el menú seleccionado como activo */
      $("#menu-1").addClass("active");

      /* Construcción del modal de la confirmación de eliminación */
      $(".boton-eliminar").click(function () {
        idProducto = $(this).attr("id");
        var nombreCorto = $("#nombre-corto-" + idProducto).text();

        $("#mensaje-modal").text("Está seguro que desea eliminar el producto \"" + nombreCorto + "\"?")

      })

      /* Manejo de la confirmación de la eliminación */
      $("#confirmar-eliminacion").click(function () {
        $(location).prop("href", "/form_eliminar_producto/" + idProducto);
      })

    });

  </script>


  <!-- Inicio miga de pan -->
  <div class="container-fluid pb-auto miga-de-pan-administracion">
    <nav style="--bs-breadcrumb-divider: url(>;data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="8" height="8"%3E%3Cpath d="M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z" fill="currentColor"/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/administracion/">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">Administración de productos</li>
      </ol>
    </nav>
  </div>
  <!-- Fin miga de pan -->

   
  <!-- Inicio Sección Administración de productos -->
  <div class="container-fluid">
    <div>
      <a class="btn btn-success" href="/form_agregar_producto/" role="button">Agregar</a>
    </div>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Imagen</th>
            <th scope="col">Nombre corto</th>
            <th scope="col">Nombre largo</th>
            <th scope="col">Descripción</th>
            <th scope="col">Precio</th>
            <th scope="col">Categoría</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
        {% for p in productos %}
          <tr>
            <th scope="row">{{ p.idProducto }}</th>
            <td>
              <a href="{% url 'form_modificar_producto' p.idProducto %}">
                {% if p.imagen %}
                  <img class="img-thumbnail" src="{{ p.imagen }}" alt="imagen producto" width="100 rem">
                {% else %}
                  <img class="img-thumbnail" src="{% static 'img/sin-imagen.png' %}" alt="imagen producto" width="100 rem">
                {% endif %}
              </a>
            </td>
            <td id="nombre-corto-{{ p.idProducto }}">{{ p.nombreCorto }}</td>
            <td>{{ p.nombreLargo }}</td>
            <td>{{ p.descripcion }}</td>
            <td>${{ p.precio | intcomma }}</td>
            <td>{{ p.categoria_desc }}</td>
            <td>
              <a class="btn btn-success" href="{% url 'form_modificar_producto' p.idProducto %}" role="button">Modificar</a>
            </td>
            <td>
              <button id="{{ p.idProducto }}" type="button" class="btn btn-secondary boton-eliminar" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Eliminar
              </button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>    
  </div>
  <!-- Fin Sección Administración de productos -->

  <!-- Inicio modal de confirmación de eliminación -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="modal-confirmacion" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-confirmacion">Eliminar producto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div id="mensaje-modal" class="modal-body">
          
        </div>
        <div class="modal-footer">
          <button id="confirmar-eliminacion" type="button" class="btn btn-success" data-bs-dismiss="modal">Eliminar</button>
          <button id="cancelar-eliminacion"type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Fin modal de confirmación de eliminación -->

  <div>
    {% include 'core/footer-administracion.html' %}      
  </div>
