{% load static %}

    <!-- Inicio miga de pan -->
    <div class="container-fluid pb-auto miga-de-pan">
      <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Inicio</a></li>
          <li class="breadcrumb-item active" aria-current="page">Donaciones</li>
        </ol>
      </nav>
    </div>
    <!-- Fin miga de pan -->

    <!-- Inicio sección donaciones -->
    <div class="container-fluid">
      <div class="row justify-content-center pt-4">
        <div class="col-12 col-md-6 col-lg-3 text-center">
          <a href="" data-bs-toggle="modal" data-bs-target="#modal-1">
            <img src="{% static 'img/donaciones-ayudapeludo.jpg' %}" class="img-fluid img-thumbnail border" width="60%" alt="ayuda a un peludo">
          </a>
          <p class="fs-6 text-secondary">Ayuda a un peludo</p>

          <!-- Inicio modal 1 -->
            <div class="modal fade" id="modal-1" tabindex="-1" aria-labelledby="modal-label-01" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="modal-label-01">Ayuda a un peludo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">

                    <div class="card mb-3" style="max-width: 1080px;">
                      <div class="row g-0">
                        <div class="col-md-8">
                          <img src="{% static 'img/donaciones-ayudapeludo.jpg' %}" class="img-fluid rounded-start" alt="ayuda a un peludo">
                        </div>
                        <div class="col-md-4">
                          <div class="card-body">
                            <h5 class="card-title">Fundación Ayuda a un peludo</h5>
                            <p class="card-text text-start">Fundación sin fines de lucro dedicada a juntar a mascotas (perros y gatos) con personas que deseen adoptarlos.</p>
                            <a href="#">
                              <p class="card-text"><small class="text-muted">Visitar sitio web</small></p>
                            </a>
                            <button type="button" class="btn btn-success mt-5">Donación</button>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          <!-- Fin modal 1 -->
            
        </div>
        <div class="col-12 col-md-6 col-lg-3 text-center">
          <a href="" data-bs-toggle="modal" data-bs-target="#modal-2">
            <img src="{% static 'img/donaciones-abrazame.jpg' %}" class="img-fluid img-thumbnail border" width="60%" alt="fundación abrázame">
          </a>
          <p class="fs-6 text-secondary">Fundación Abrázame</p>

          <!-- Inicio modal 2 -->
            <div class="modal fade" id="modal-2" tabindex="-1" aria-labelledby="modal-label-02" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="modal-label-02">Fundación Abrázame</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">

                    <div class="card mb-3" style="max-width: 1080px;">
                      <div class="row g-0">
                        <div class="col-md-8">
                          <img src="{% static 'img/donaciones-abrazame.jpg' %}" class="img-fluid rounded-start" alt="fundación abrázame">
                        </div>
                        <div class="col-md-4">
                          <div class="card-body">
                            <h5 class="card-title">Fundación Abrázame</h5>
                            <p class="card-text text-start">Fundación sin fines de lucro dedicada a proteger a los niños, niñas y adolescentes residentes en hogares.</p>
                            <a href="#">
                              <p class="card-text"><small class="text-muted">Visitar sitio web</small></p>
                            </a>
                            <button type="button" class="btn btn-success mt-5">Donación</button>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          <!-- Fin modal 2 -->

        </div>
        <div class="col-12 col-md-6 col-lg-3 text-center">
          <a href="" data-bs-toggle="modal" data-bs-target="#modal-3">
            <img src="{% static 'img/donaciones-banigualdad.jpg' %}" class="img-fluid img-thumbnail border" width="60%" alt="fundación banigualdad">
          </a>
          <p class="fs-6 text-secondary">Fundación Banigualdad</p>

          <!-- Inicio modal 3 -->
            <div class="modal fade" id="modal-3" tabindex="-1" aria-labelledby="modal-label-03" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="modal-label-03">Fundación Banigualdad</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">

                    <div class="card mb-3" style="max-width: 1080px;">
                      <div class="row g-0">
                        <div class="col-md-8">
                          <img src="{% static 'img/donaciones-banigualdad.jpg' %}" class="img-fluid rounded-start" alt="fundación banigualdad">
                        </div>
                        <div class="col-md-4">
                          <div class="card-body">
                            <h5 class="card-title">Fundación Banigualdad</h5>
                            <p class="card-text text-start">Fundación sin fines de lucro que financia, capacita y acompaña a pequeños emprendedores que buscan salir adelante gracias a sus negocios.</p>
                            <a href="#">
                              <p class="card-text"><small class="text-muted">Visitar sitio web</small></p>
                            </a>
                            <button type="button" class="btn btn-success mt-5">Donación</button>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          <!-- Fin modal 3 -->
        </div>

        <div class="col-12 col-md-6 col-lg-3 text-center">
          <a href="" data-bs-toggle="modal" data-bs-target="#modal-4">
            <img src="{% static 'img/donaciones-lasrosas.jpg' %}" class="img-fluid img-thumbnail border" width="60%" alt="fundación las rosas">
          </a>
          <p class="fs-6 text-secondary">Fundación Las Rosas</p>

          <!-- Inicio modal 4 -->
            <div class="modal fade" id="modal-4" tabindex="-1" aria-labelledby="modal-label-04" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="modal-label-04">Fundación Las Rosas</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">

                    <div class="card mb-3" style="max-width: 1080px;">
                      <div class="row g-0">
                        <div class="col-md-8">
                          <img src="{% static 'img/donaciones-lasrosas.jpg' %}" class="img-fluid rounded-start" alt="fundación las rosas">
                        </div>
                        <div class="col-md-4">
                          <div class="card-body">
                            <h5 class="card-title">Fundación Las Rosas</h5>
                            <p class="card-text text-start">Fundación sin fines de lucro con la misión de acoger a las personas mayores más pobres del país, entregándoles amor, cariño y los cuidados necesarios para que vivan su vejez con la dignidad que todos merecemos.</p>
                            <a href="#">
                              <p class="card-text"><small class="text-muted">Visitar sitio web</small></p>
                            </a>
                            <button type="button" class="btn btn-success mt-5">Donación</button>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          <!-- Fin modal 4 -->
          
        </div>
      </div>
    </div>
    <!-- Fin sección donaciones -->

    <!-- Inicio sección información del clima -->
    <div class="container-fluid">
      <div class="row pt-4">
        <h5>Quieres ir a donar? Te ayudamos con la información del clima del día de hoy</h5>
      </div>
      <div class="row">
        <div class="col-2 pt-2">
          <table class="table">
            <tbody>
              <tr>
                <th scope="row">Ubicación</th>
                <td>
                  <p id="texto-ubicacion"></p>
                </td>
              </tr>
              <tr>
                <th scope="row">País</th>
                <td><p id="texto-pais"></p></td>
              </tr>
              <tr>
                <th scope="row">Región</th>
                <td><p id="texto-region"></p></td>
              </tr>
              <tr>
                <th scope="row">Zona horaria</th>
                <td><p id="texto-zona-horaria"></p></td>
              </tr>
              <tr>
                <th scope="row">Hora local</th>
                <td><p id="texto-hora-local"></p></td>
              </tr>
              <tr>
                <th scope="row">Temperatura</th>
                <td><p id="texto-temperatura"></p></td>
              </tr>
              <tr>
                <th scope="row">Clima</th>
                <td><img id="img-clima" src="" width="30rem" alt="imagen clima">&nbsp;<span id="texto-clima"></span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- Fin sección información del clima -->
