{% load static %}

  <div>
    {% include 'core/header.html' %}      
  </div>

  <script type="text/javascript">

    $(document).ready(function() {

      /* Marcamos como no activos el resto de los menús */
      $("#menu-1").removeClass("active");
      $("#menu-2").removeClass("active");
      $("#menu-3").removeClass("active");
      $("#menu-5").removeClass("active");

      /* Marcamos el menú seleccionado como activo */
      $("#menu-4").addClass("active");

      $(".imagen").click(function () {

        /* Determinamos el id del producto que se ha seleccionado para pasárselos al modal */
        var idFundacion = $(this).attr("id");

        /* Modificamos los datos del modal */
        $("#modal-nombre-corto").text($("#nombre-corto-fund-" + idFundacion).text());
        $("#modal-nombre-largo").text($("#nombre-largo-fund-" + idFundacion).text());
        $("#modal-imagen").attr("src", $("#" + idFundacion).attr("src"));
        $("#modal-descripcion").text($("#descripcion-fund-" + idFundacion).text());
        $("#modal-url").text($("#url-fund-" + idFundacion).text());
      })


      function geoloc() {
        if (navigator.geolocation){
           navigator.geolocation.getCurrentPosition(showPosition,showError);
  
        }
        else {
          alert("Lo sentimos, tu dispositivo no admite la geolocalización");
          }
      }
  
      function showPosition(position){
        latitud=position.coords.latitude;
        longitud=position.coords.longitude;
  
        $.get("http://api.weatherstack.com/current?access_key=bc6e10faea832b9b6bb4f0ebd11fd907&query=" + latitud + "," + longitud, function(data){
  
          $("#texto-ubicacion").text(data.location.name);
          $("#texto-pais").text(data.location.country);
          $("#texto-region").text(data.location.region);
          $("#texto-zona-horaria").text(data.location.timezone_id);
          $("#texto-hora-local").text(data.location.localtime);
          $("#texto-temperatura").text(data.current.temperature + "°C");
          $("#texto-clima").text(data.current.weather_descriptions);
          $("#img-clima").attr("src", data.current.weather_icons);
  
          })
      }
  
      function showError(error){
        switch(error.code) {
          case error.PERMISSION_DENIED:
            alert("El usuario ha denegado el permiso a la localización");
            break;
          case error.POSITION_UNAVAILABLE:
            alert("La información de la localización no está disponible");
            break;
          case error.TIMEOUT:
            alert("<p>El tiempo de espera para buscar la localización ha expirado");
            break;
          case error.UNKNOWN_ERROR:
            alert("Ha ocurrido un error desconocido");
            break;
          }
        }
  
        /* Activamos la geolocalización */
        geoloc();
  
    });
  </script>
  

    <!-- Inicio miga de pan -->
    <div class="container-fluid pb-auto miga-de-pan">
      <nav style="--bs-breadcrumb-divider: url(>;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Inicio</a></li>
          <li class="breadcrumb-item active" aria-current="page">Donaciones</li>
        </ol>
      </nav>
    </div>
    <!-- Fin miga de pan -->

    <!-- Inicio sección donaciones -->
    <div class="container-fluid">
      <div class="row justify-content-center pt-4">
        {% for f in fundaciones %}
        <div class="col-12 col-md-6 col-lg-3 text-center">
          <a href="" data-bs-toggle="modal" data-bs-target="#modal">
            {% if f.imagen %}
              <img id="{{ f.idFundacion }}" src="{{ f.imagen }}" class="img-fluid border imagen" width="250 rem" alt="imagen fundacion">
            {% else %}
              <img id="{{ f.idFundacion }}" src="{% static 'img/sin-imagen.png' %}" class="img-fluid img-thumbnail border imagen" width="250 rem" alt="ayuda a un peludo">
            {% endif %}
          </a>
          <p id="nombre-corto-fund-{{ f.idFundacion }}" class="fs-6 text-secondary">{{ f.nombreCorto }}</p>
          <p id="nombre-largo-fund-{{ f.idFundacion }}" class="visually-hidden">{{ f.nombreLargo }}</p>
          <p id="descripcion-fund-{{ f.idFundacion }}" class="visually-hidden">{{ f.descripcion }}</p>
          <p id="url-fund-{{ f.idFundacion }}" class="visually-hidden">{{ f.sitioWeb }}</p>
          <button type="button" class="btn btn-success mt-1">Donar</button>
        </div>
        {% endfor %}
      </div>
    </div>
    <!-- Fin sección donaciones -->

    <!-- Inicio modal -->
    <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modal-label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 id="modal-nombre-corto" class="modal-title" id="modal-label">Ayuda a un peludo</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

            <div class="card mb-3" style="max-width: 1080px;">
              <div class="row g-0">
                <div class="col-md-8">
                  <img id="modal-imagen" src="" class="img-fluid rounded-start" alt="ayuda a un peludo">
                </div>
                <div class="col-md-4">
                  <div class="card-body">
                    <h5 id="modal-nombre-largo" class="card-title">Fundación Ayuda a un peludo</h5>
                    <p id="modal-descripcion" class="card-text text-start">Fundación sin fines de lucro dedicada a juntar a mascotas (perros y gatos) con personas que deseen adoptarlos.</p>
                    <a href="#">
                      <p class="card-text"><small class="text-muted"><a id="modal-url" href="">Visitar sitio web</a></small></p>
                    </a>
                    <button type="button" class="btn btn-success mt-5">Donar</button>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  <!-- Fin modal -->

    <!-- Inicio sección información del clima -->
    <div class="container-fluid">
      <div class="row pt-5">
        <h5>Quieres ir a donar? Te ayudamos con la información del clima del día de hoy</h5>
      </div>
      <div class="row">
        <div class="col-2 pt-2">
          <table class="table">
            <tbody>
              <tr>
                <th scope="row">Ubicación</th>
                <td>
                  <p id="texto-ubicacion"></p>
                </td>
              </tr>
              <tr>
                <th scope="row">País</th>
                <td><p id="texto-pais"></p></td>
              </tr>
              <tr>
                <th scope="row">Región</th>
                <td><p id="texto-region"></p></td>
              </tr>
              <tr>
                <th scope="row">Zona horaria</th>
                <td><p id="texto-zona-horaria"></p></td>
              </tr>
              <tr>
                <th scope="row">Hora local</th>
                <td><p id="texto-hora-local"></p></td>
              </tr>
              <tr>
                <th scope="row">Temperatura</th>
                <td><p id="texto-temperatura"></p></td>
              </tr>
              <tr>
                <th scope="row">Clima</th>
                <td><img id="img-clima" src="" width="30rem" alt="imagen clima">&nbsp;<span id="texto-clima"></span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- Fin sección información del clima -->

    <div>
      {% include 'core/footer.html' %}      
    </div>
  