{% load static %}

  <div>
    {% include 'core/header-administracion.html' %}      
  </div>

<script type="text/javascript">

  $(document).ready(function() {

    /* Marcamos como no activos el resto de los menús */
    $("#menu-2").removeClass("active");
    $("#menu-3").removeClass("active");

    /* Marcamos el menú seleccionado como activo */
    $("#menu-1").addClass("active");

    /* Ocultamos el texto de error al principio */
    $("#error").hide();

    /* Leemos el mensaje para determinar si viene desde la grabación del formulario y mostrar el mensaje de grabación o no */
    mensaje = $("#exito").text();
    if (mensaje != "") {
    /* Grabó, mostramos el mensaje y redirijimos lapágina al anchor del mensaje */
      $('html,body').animate({ scrollTop: $("#exito").offset().top }, 'fast');
      $("#exito").show();
    } else {
      $("#exito").hide();
    }

    /* Si presiona el botón limpiar, se ocultan también los errores y el mensaje de éxito*/
    $("#limpiar").click(function() {
      $("#error").hide();
      $("#exito").hide();
      $('#comuna option[value!="' + valueSeleccione + '"]').hide();
      $('html,body').animate({ scrollTop: $("#menu-1").offset().top }, 'fast');

    })

    /* Si modifica el switch de modificar el archivo, borramos el valor en el campo imagen para que no se vea */
    $('#borrar-archivo' ).on( 'click', function() {
      if($(this).is(':checked') ){
        $("#imagen").val("");
      }
    });

    /* Al enviar el formulario. Se deshabilita el campo imagen solo cuando no tiene archivo y el usuario no lo quiere borrar para que el form no lo considere y no lo mosifique */
    $("#formulario").submit(function() {

      if ($("#imagen").val() == "") {
        if(!($("#borrar-archivo").is(':checked'))) {
          $("#imagen").attr('disabled', 'disabled');
        }
      }

    })

  });

</script>

    <!-- Inicio miga de pan -->
    <div class="container-fluid pb-auto miga-de-pan">
      <nav style="--bs-breadcrumb-divider: url(>;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/administracion/">Inicio</a></li>
          <li class="breadcrumb-item active" aria-current="page">Administración de fundaciones</li>
        </ol>
      </nav>
    </div>
    <!-- Fin miga de pan -->

    <!-- Inicio sección modificar producto -->
    <div class="container-fluid">
      <form method="post" id="formulario" enctype="multipart/form-data" action="/form_modificar_producto/{{ producto.idProducto }}/">

        <div class="row pb-3">
          <div class="col-lg-2">
            {% csrf_token %}
            <div class="form-group">
              <label class="form-control-sm" for="nombre-corto" id="label-nombre-corto">Nombre corto (*)</label>
              <div>
                <input type="text" maxlength="100" class="form-control form-control-sm" id="nombreCorto" name="nombreCorto" placeholder="(Ingrese nombre corto)" value="{{ producto.nombreCorto }}" required>
              </div>
            </div>
          </div>
          <div class="col-lg-8"></div>
        </div>

        <div class="row pb-3">
          <div class="col-lg-3">
            <div class="form-group">
              <label class="form-control-sm" for="nombre-largo" id="label-nombre-largo">Nombre largo (*)</label>
              <div></div>
              <input type="text" maxlength="200" class="form-control form-control-sm" id="nombreLargo" name="nombreLargo" placeholder="(Ingrese nombre largo)" value="{{ producto.nombreLargo }}" required>
            </div>
          </div>
          <div class="col-lg-8"></div>
        </div>

        <div class="row pb-3">
          <div class="col-lg-4">
            <div class="form-group">
              <label class="form-control-sm" for="descripcion" id="label-descripcion">Descripción (*)</label>
              <div>
                <textarea class="form-control-sm" name="descripcion" id="descripcion" cols="65" rows="6" placeholder="(Ingrese descripción)" required>{{ producto.descripcion }}</textarea>
              </div>
            </div>
          </div>
          <div class="col-lg-9"></div>
        </div>

        <div class="row pb-3">
          <div class="col-lg-1">
            <div class="form-group">
              <label class="form-control-sm" for="precio" id="label-precio">Precio (*)</label>
              <div>
                <input type="number" min="1" pattern="^[0-9]+" max="999999999" class="form-control form-control-sm" id="precio" name="precio" placeholder="(Ingrese precio)" value="{{ producto.precio }}" required>
              </div>
            </div>
          </div>
          <div class="col-lg-9"></div>
        </div>

        <div class="row pb-3">
          <div class="col-lg-5">
            <div class="form-group">
              <label class="form-control-sm" for="imagen" id="label-imagen" >Imagen</label>
              <div>
                {% if producto.imagen %}
                  <img class="img-thumbnail pb-2" src="{{ producto.imagen }}" alt="imagen producto" width="150 rem">
                {% else %}
                  <img class="img-thumbnail pb-2" src="{% static 'img/sin-imagen.png' %}" alt="imagen producto" width="150 rem">
                {% endif %}
              </div>
              <div>
                <input class="form-control-sm" type="file" id="imagen" name="imagen" accept="image/*">
              </div>
              <div class="form-check form-switch pt-3">
                <input class="form-check-input" type="checkbox" role="switch" id="borrar-archivo">
                <label class="form-control-sm form-check-label" for="borrar-archivo">Borrar imagen</label>
              </div>
            </div>
          </div>
          <div class="col-lg-10"></div>
        </div>

        <div class="row pb-3">
          <div class="col-lg-4">
            <div class="form-group">
              <label class="form-control-sm" for="categoria" id="label-categoria">Categoria (*)</label>
              <div>
                <select class="form-control-sm" class="form-select form-select-sm" id="categoria" name="categoria" aria-label="Default select example" required>
                  <option id="" value="" name="">(Seleccione categoría)</option>
                  {% for c in categorias %}
                    <option id="{{ c.codCategoria }}" value="{{ c.codCategoria }}" name="{{ c.codCategoria }}" {% if c.codCategoria == producto.categoria %}selected{% endif %}>{{ c.nombreCategoria }}</option>
                  {% endfor  %}
                </select>
              </div>
            </div>
          </div>
          <div class="col-lg-10"></div>
        </div>

        <button type="submit" class="btn btn-success" id="enviar">Guardar</button>
        <a class="btn btn-secondary" href="/administracion_productos/" role="button">Volver</a>

        <!-- Inicio sección éxito en la grabación del formulario -->
        <div id="exito" class="alert alert-success m-4 pt-4" role="alert">{{ mensaje }}</div>
        <!-- Fin sección éxito en la grabación del formulario -->

        <!-- Inicio sección de errores del formulario -->
        <div id="error" class="alert alert-danger m-4 pt-4" role="alert">{{ error }}</div>
        <!-- Fin sección de errores del formulario -->

      </form>
    </div>
    <!-- Fin sección contacto -->

    <div>
      {% include 'core/footer-administracion.html' %}      
    </div>
  