{% load static %}

  <div>
    {% include 'core/header.html' %}      
  </div>

  <script type="text/javascript">

    $(document).ready(function() {

      /* Marcamos como no activos el resto de los menús */
      $("#menu-2").removeClass("active");
      $("#menu-3").removeClass("active");
      $("#menu-4").removeClass("active");
      $("#menu-5").removeClass("active");

      /* Marcamos el menú seleccionado como activo */
      $("#menu-1").addClass("active");

    });

  </script>


  <div>
    {% include 'core/footer.html' %}      
  </div>