{% load static %}

  <div>
    {% include 'core/header.html' %}      
  </div>

  <script type="text/javascript">

    $(document).ready(function() {

      /* Marcamos como no activos el resto de los menús */
      $("#menu-1").removeClass("active");
      $("#menu-3").removeClass("active");
      $("#menu-4").removeClass("active");
      $("#menu-5").removeClass("active");

      /* Marcamos el menú seleccionado como activo */
      $("#menu-2").addClass("active");

    });

  </script>

  <!-- Inicio miga de pan -->
    <div class="container-fluid pb-auto miga-de-pan">
      <nav style="--bs-breadcrumb-divider: url(>;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Inicio</a></li>
          <li class="breadcrumb-item active" aria-current="page">Nosotros</li>
        </ol>
      </nav>
    </div>
    <!-- Fin miga de pan -->

    <!-- Inicio sección nosotros -->
    <div class="container-fluid">
      <div class="row justify-content-center p-5">
        <div class="col-12 col-lg-3 pb-5 text-center">
          <img src="{% static 'img/nosotros-aron.png' %}" class="rounded-circle border border-5" alt="alberto gosselin" width="50%">
          <h4 class="pt-3">Aron Bustos Zúñiga</h4>
          <a href="mailto:ar.bustos@duocuc.cl">
            <h6 class="pt-3">ar.bustos@duocuc.cl</h6>
          </a>
        </div>
        <div class="col-12 col-lg-3 pb-5 text-center">
          <img src="{% static 'img/nosotros-alberto.png' %}" class="filtro-byn rounded-circle border border-5" alt="alberto gosselin" width="50%">
          <h4 class="pt-3">Alberto Gosselin Bouiey</h4>
          <a href="mailto:al.gosselin@duocuc.cl">
            <h6 class="pt-3">al.gosselin@duocuc.cl</h6>
          </a>
        </div>
        <div class="col-12 col-lg-3 pb-5 text-center">
          <img src="{% static 'img/nosotros-francisco.png' %}" class="rounded-circle border border-5" alt="francisco yáñez" width="50%">
          <h4 class="pt-3">Francisco Yáñez Yáñez</h4>
          <a href="mailto:f.yanez@duocuc.cl">
            <h6 class="pt-3">f.yanez@duocuc.cl</h6>
          </a>
        </div>
        <div class="col-12 col-lg-3 pb-5 text-center">
          <img src="{% static 'img/nosotros-héctor.png' %}" class="rounded-circle border border-5" alt="alberto gosselin" width="50%">
          <h4 class="pt-3">Héctor Zúñiga Luarte</h4>
          <a href="mailto:hec.zuniga@duocuc.cl">
            <h6 class="pt-3">hec.zuniga@duocuc.cl</h6>
          </a>
        </div>
      </div>
    </div>
    <!-- Fin sección nosotros -->

    <div>
      {% include 'core/footer.html' %}      
    </div>
  
  